@charset "UTF-8";

.form-control input, .form-control select{
    font-size: 15px;
    line-height: 30px;
    padding-left: 10px;
}

.form-control select:required:invalid {
    color: gray;
}

option[value=""][disabled] {
    display: none;
}

option {
    color: black;
}

.form-control .required-symbol {
    padding-right: 5px;
    color: #FF3346;
}

.form-control .text-icon-tips {
    padding-left: 5px;
}

.text-icon-tips-correct {
    display: none;
}

.text-icon-tips-correct .icon-correct-check {
    display: inline-block;
    vertical-align: sub;
    width: 20px;
    height: 20px;
    background: url(../images/icon_v160825.png) -32px -185px no-repeat;
}

.text-icon-tips-correct.on{
    display: inline;
}

.form-control .text-icon-tips-incorrect {
    display: none;
    border: 1px solid #E39F9F;
    padding: 5px;
    border-radius: 3px;
    color: #EC3636;
    font-size: 11px;
}

.text-icon-tips-incorrect.on {
    display: inline;
}

.text-icon-tips-incorrect .icon-incorrect-check {
    display: inline-block;
    vertical-align: sub;
    width: 14px;
    height: 14px;
    background: url(../images/icon_v160825.png) -64px -210px no-repeat;
}

.form-control {
    margin-top: 20px;
}

.form-control .col-12 {
    width: 365px;
}

.form-control .col-6 {
    width: 179px;
}

.form-control .input-radio {
    vertical-align: middle;
    margin-right: 2px;
}

.form-control .form-inline {
    margin-right: 10px;
}

.form-control .birth {
    width: 114px;
    height: 30px;
}

.form-control .select-row {
    width: 375px;
    height: 30px;
}

.form-control .col-6 {
    height: 30px;
}

.verify-tips {
    width: 375px;
    height: 5px;
    padding-top: 20px;
}

.verify-tips p {
    position:relative;
    height: 1px;
    width:470px;
    background-color: #E5E5E5;
}

.verify-tips p .tips-text {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    color: #A9A9A9;
    background-color: #fff;
    font-size: 11px;
}

.form-control .height-common {
    height: 30px;
}

.form-control .col-5 {
    width: 143px;
}

.form-control .col-7 {
    width: 205px;
}

.form-control .col-9 {
    width: 265px;
}

.verify-code-btn {
    background-color: #FF3333;
    padding:5px 40px;
    color: #fff;
    cursor: pointer;
}

.verify-code-btn.disabled {
    background-color: #C7C7C7;
    color: #A2A2A2;
    cursor: default;
}

.verify-code-btn:hover {
    opacity: 0.8;
}

.verify-code-btn.disabled {
    opacity: 1;
}

.font-11 {
    font-size: 11px;
}

.font-11 i {
    color: #8A8F9C;
}

.red-btn {
    background-color: #FF3333;
    height: 30px;
    line-height: 30px;
    color: #fff;
    font-size: 12px;
    text-align: center;
    display: block;
    cursor: pointer;
    font-family: Arial;
}

.red-btn:hover {
    color: #fff;
    background-color: #FF7D6C;
}